<div class="main-content">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Membership Program Management</h4>
                    <p class="card-category">Manage membership benefits</p>
                </div>
                <div class="card-body table-responsive">
                    <table *ngIf="levels" class="table table-hover">
                        <thead class="text-primary">
                            <th>ID</th>
                            <th>Level</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let level of levels">
                                <td>
                                    {{level.id}}
                                </td>
                                <td>
                                    {{level.name}}
                                </td>
                                <td>
                                    <i (click)="editBenefit(level.id)" class="material-icons cursor-pointer">create</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="card-footer">
                    <button class="btn btn-primary">
                        Add new game
                    </button>
                </div> -->
            </div>
        </div>
    </div>
</div>