<div class="login d-flex rounded-lg overflow-hidden">
    <div class="col-6 p-0 position-relative">
        <img src="assets/img/cover.jpeg" alt="" class="w-100">
        <div class="d-flex flex-column justify-content-center position-absolute w-100 h-100 content">
            <h1>SIGN IN</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium rem, veniam repellat nihil modi vero.</p>
            <p>Already have an account?</p>
            <div>
                <button class="btn btn-outline-light">LOGIN</button>
            </div>
        </div>
    </div>
    <div class="col-6 p-0 bg-white">
        <form class="p-5 d-flex flex-column justify-content-center h-100 mb-0" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">USERNAME</label>
                <input type="text" name="" id="email" class="form-control" formControlName="userId">
            </div>
            <div class="form-group">
                <label for="password">PASSWORD</label>
                <input type="password" name="" id="password" class="form-control" formControlName="password">
            </div>
            <button class="btn btn-primary w-100" type="submit">LOGIN</button>
        </form>
    </div>
</div>